/* global rules 
lazem n7ot some rules 3lshan l donia tzbot 
first  */ 
/* 3lshan l padding , margin not to affect l width */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
     /* font icons */

    font-family: 'Jomhuria', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
 }
 /* end global rules */
/* we should put everything in container  -*/ 
/*container which contains everything in header*/
.container /* da ahm 7aga da elly zabet l saf7a kolha */{
    /* 3lshan yb2a 3ndy space fel gmb */
    padding-left: 15px;
    padding-right: 15px;
    /* 3lshan l 7gat tb2a fel nos */
    margin-left: auto;
    margin-right: auto;
    /* l width hyb2a based on everyscreen*/
 /* small screen*/

}
@media (min-width:750px){
    .container{
    width:750px;
    }
}
 /* meduim screen*/
 @media  (min-width:992px){
    .container{
    width:970px;
    }
}
  /* big screen*/
  @media  (min-width:1200px){
    .container{
    width:1170px;
    }
}
 /* end global rules */
 /* start header */

.header{
    padding: 20px;
}
.header .container{
display: flex;
/* 3llshan kol wa7ed yb2a f a5er l satr  */
justify-content: space-between;
/*3lshan yb2o fl nos fl tool   */
align-items: center;
 z-index: 10000;

} 
.header .logo{
    width: 60px;
}
.header .links {
    position: relative;
    
}
.header .links .icon{
    /* henna ana b3ml l three - - -  w l icon hwa elly hyb2a l container bt3hom */
width: 30px;
display: flex;
 /*  3lshan lma ymlo l shasha yb2o t7t b3d */
flex-wrap: wrap;
justify-content: flex-end;

}
.header .links .icon span{
    background-color: black;
    margin-bottom:5px;
}
 /*  hena l spans bt7akem bs f size kol wa7ed feehom */
.header .links .icon span:first-child{
   width: 100%;
   height: 3px;
}
     .header .links .icon span:nth-child(2){
    width:30%;
    height: 3px;
    transition: 3s;
    }
    /*hover */
    .header .links:hover .icon span:nth-child(2){
        width:100%;
        background-color: green;
    }
    
    .header .links .icon span:last-child{
        width:100%;
        height: 3px;
    }
     :root{
        --color:#10cab7;
        --secondary-color:#2c4755;

    }
.header .links ul{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #f6f6f6;
    position: absolute;
    top: calc(100% + 20px);
       /* 3lshan tb2a msh ray7a lelo right   */
    right: 0;
    min-width: 200px;  
    display: none;
    z-index: 10000;

}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-color: transparent;
    border-bottom-color: #f6f6f6;
    border-style: solid;
    position: absolute;
       /*  mohem awe hena l top 5alenah - l border -l de3f l border */
    top: -20px;
    right: 5px;
     /*l masafat de bn calculate it first 3lshan tb2a mazboota */
}
.header .links ul li a{
    text-decoration:none;
    color: black;
    /* 3lshan l block be get affected bl padding we margin '
    lakn l span left w right bs w ana 3ayza space between them 
    fl tool w kda */
    display: block;
    transition: 3s;
    padding: 15px;
}
.header .links ul  li:not(:last-child) a{
    border-bottom:1px solid #ddd;
}

.header .links ul li a:hover{
padding-left: 70px;
}
.header .links:hover ul{
    display: block;

}
/* end header */
 /*   */
  /*   */
   /*   */
    /*   */
     /*   */
      /*   */
  .landing{
      background-size:cover;
      background-image: url(../imgs/landing.jpg);
      position: relative;
      height:calc(100vh - 80px);
  }
 .intro{
position: absolute;
left: 50%;
top: 50%;
text-align: center;
transform: translate( -50%, -50%);
z-index: 0;
text-align: center;
/* 3lshan n5ly l text msh byt8yr l mnzr bta3o da lazem*/
width: 360px;
max-width: 100%;
 }
 .intro p{
  
color: black;    
font-size: 19px;
margin: 0;

 }
.intro h1{
   color:var(--color);
   margin: 0;
    font-weight: bold;
    font-size: 50px;
}
.box{
background-color: rgb(235, 236, 236);
padding-top: 60px;
padding-bottom: 60px;
}
.box .container{
    display: grid;
    justify-content: center;
    /* lazem n3ml auto fill 3lshan yb2a a3meda 3la 7sb l mesa7a y3ny lw msa7a tkfy 3amod yb2a 3amood lw 2 yb2a etneen 
    3shan lma a5leeha so8yra mytl3sh bara l box w kaman 3mlt a2l 3amood yb2a 3rdo 200px w lw zad awe hyba fr elly hwa yb2a 3la ad l msa7a brdo */ 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.box h1{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.box p{
    font-size: 19px;
    color: rgb(131, 126, 126);
}


 .container  .feat i{
  font-size: 40px;
  color: var(--color);
  
  }
  .feat{
    text-align: center;
    padding: 20px;
  }
  /*  services heading */
  .headS{
    font-size: 200px;
    text-align: center;
    font-weight: bold;
    color: rgba(119, 119, 119, 0.149);
    margin: 0;
}
.headS p {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.433);
    font-weight: lighter;
}

 /* small screen*/


@media (min-width:200px){
    .headS{
        font-size:50px;
        padding-top: 50px;
    }
    .headS p {
        font-size: 12px;
        margin-top: -20px;
    }
    
}
 /* meduim screen*/
 @media  (min-width:992px){
    .headS{
    font-size:100px;

    }
    .headS p {
        font-size: 25px;
        margin-top: -40px;

    }
}

  /* big screen*/
  @media  (min-width:1200px){
    .headS{
        font-size:100px;
    }
    .headS p {
        font-size: 28px;
        margin-top: -40px;

    }
}
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content {
display: grid;
grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
grid-gap: 30px;
margin-top: 100px;
}

.services .ser{
    display: flex;
    margin-bottom: 40px;
}
.services-content .ser i{
flex-basis: 60px;
color: var(--color);
font-size: 40px;
}
.txt{
  flex: 1;
  font-weight: 300;
}
.col .img {
    position: relative;
    text-align: center;
  
}

.img img {
height: 290px;
width: 260px;
  
}
.col .img::after {
    content:"";
    width: 90px;
    height: calc(100% + 100px);
    position: absolute;
    right: 0;
    top:-50px;
    background-color:var(--secondary-color);
   z-index: -1;
;
  }
 /* big screen*/

@media (max-width:1200px){

    .img {
        display: none;
    } 

  .ser i{
   justify-content: center;
  }

  .services-content .ser {
    flex-direction: column;
    text-align: center;
  }
}

.porto{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(235, 236, 236);


}
.porto .container .mini-porto {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    justify-content: center;
    margin-top: 100px;
    grid-gap: 30px;
    
}
.mini-porto .port{
    display: flex;
    flex-basis: 60px;
    justify-content: center;
}
.port .col{
    background-color: white;
}
.port .col img{
    height: calc(100%+20px);
   width: 100%;
}
.port .col .txt{
    padding-left: 10px;
}
.txt p{
    color: #777;
font-weight: 300;
}


html{
    scroll-behavior: smooth;
}

.about{
    padding-bottom: 60px;
    padding-top: 60px;
    
}
.aboutz{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 100px;

}
.aboutz .imge {
position: relative;
}
.imge img{
  height: 400px;
  width :240px;
}
.aboutz .imge::before {
    position: absolute;
    content: "";
    background-color: rgb(216, 213, 213);
    z-index: -2;
    left: -20px;
    height:calc(400px + 50px);
    top: -25px;
    width: calc(100% - 160px);
    }
    .aboutz .imge::after {
        content: "";
        position: absolute;
        background-color: rgba(255, 0, 0, 0);
        width: calc(100% - 100px);
        height: calc(400px - 100px);
        z-index: -3;
        top: -30px;
        right: -170px;
        border-bottom: 80px solid var(--color);
        border-left:90px solid var(--color);

        }
        .first{
            position: relative;
            line-height: 2;
            font-weight: bold;
            margin-bottom: 60px;
        }
        .second{
            line-height:2;
            margin-top:120px;

        }
        .first::before{
            content: "";
            position: absolute;
            border-left: 2px solid var(--secondary-color);
            border-right: 2px solid var(--secondary-color);
            border-bottom: 2px solid var(--secondary-color);
            border-top: 2px solid var(--color);
            bottom:-60px ;
            width: 400px;
        }
        .text{
           flex-basis:calc(100% - 500px);
        
        }
@media (max-width:900px){
.aboutz{
    flex-direction: column;
}
.imge::after{display: none;}
    .imge::before{ display: none;

}

.first::before {
    width: 40%;
    left: 50%;
    transform: translate(-50%);
}
}

@media (max-width:920px){
.aboutz{
    flex-direction: column;
}
.imge::after{display: none;}
    .imge::before{ display: none;

}

.first::before {
    width: 40%;
    left: 50%;
    transform: translate(-50%);
}
}
        .contact{
            padding-top: 60px;
            padding-bottom: 60px;
            background-color:  rgb(235, 236, 236);

        }
        .info{
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .info h1{
            color: #2c4755;
            font-weight: bold;
            line-height:.06;
            font-size: 30px;
        }
        .info a h1{
            color: #10cab7;
            text-decoration: none;
            font-weight: bold;
            font-size: 30px;
            font-weight: 1400;

        }
        .info a{
            text-decoration: none;
        }
        .info p{
color: black;
        }
        /* small screen */

  
        @media (min-width:200px){
            .info h1{
          
                font-size:15px;
            }
            .info p{
               font-size: 10px;
                        }
            .info a h1{
                
                font-size: 15px;
    
            }
        }
        /* meduim screen */
        
        @media (min-width:800px){
            .info h1{
          
                font-size:20px;
            }
            .info p{
               font-size: 20px;
                        }
            .info a h1{
                
                font-size: 30px;
    
            }
        }
          

         
   /* the last part   */ 
.right{
background-color: #2c4755;
padding-top: 10px;
padding-bottom: 10px;
        }
      .last{
        justify-content: center;   
        display: flex;
        align-items: center;
      }
      .leon{
        color: #10cab7;
        font-weight: bold;
        margin:7px;
        font-size: 20px;
      }
      .last .rights{
      color: white;
      font-size: 20px;
      }
      /* small screen */
      @media (min-width:200px){
        .last .rights{
                    font-size: 10px;}
      }
      .leon{
        font-size: 15px;
      }
            /* meduim screen */

      @media (min-width:900px){
      }
          /* big screen */

          @media (min-width:1200px){
            .last .rights{
                font-size: 30px;}

          }
        